.menu-btn {
    cursor: pointer;
    position: absolute;
    width: 29px;
    height: 25px;
    display: none;
    top: 74px;
    right: 17px;
    @media screen and (max-width: 768px) and (min-width: 320px) {
        display: block;
    }
}
.menu-btn {
    position: fixed;
}